absl-py
astor
astroid
backcall
certifi
chardet
cycler
decorator
gast
grpcio
idna
ipython
ipython-genutils
isort
jedi
kiwisolver
lazy-object-proxy
Markdown
matplotlib
mccabe
numpy
pandas
parso
pexpect
pickleshare
prompt-toolkit
protobuf
ptyprocess
Pygments
pylint
pyparsing
python-dateutil
pytz
requests
scikit-learn
scipy
seaborn
simplegeneric
six
tensorboard
termcolor
traitlets
urllib3
wcwidth
Werkzeug
wrapt
